.productItem {
  display: block;
  padding: 30px 30px;
  width: 100%;
  box-sizing: border-box;
}
.productItem .imgsp {
  float: left;
  width: 16%;
}
.productItem .imgsp img {
  width: 100px;
  height: 100px;
}
.content {
  width: 85%;
}
.strikethrough {
  text-decoration: line-through;
}